---
layout: default
---

{% include base_path %}

<div id="main" role="main" class="home-main">
  <article class="page page--home" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="home-hero" id="about">
      <aside class="home-hero__profile">
        {% include author-profile.html %}
      </aside>
      <section class="home-hero__about page__content" itemprop="text">
        {{ content }}
      </section>
    </div>

    <section class="home-publications" id="academic">
      <h2 class="section-heading section-heading--academic">Academic</h2>
      <div class="publication-list">
        {% assign pubs = site.publications | sort: "order" %}
        {% for post in pubs %}
          {% include publication-card.html post=post %}
        {% endfor %}
      </div>
    </section>
  </article>
</div>
